{% if not template.cp.buttons.isEmpty() %}

{% if template.cp.buttons|length < 2 %}
{{ buttons(template.cp.buttons) }}
{% else %}
<div class="o-section -buttons">
    {{ buttons(template.cp.buttons) }}
</div>
{% endif %}

{% endif %}