<div class="o-navigation">

        <button class="o-navigation__openSidebar">Open sidebar</button>
    <div class="o-navigation__sidebar" data-simplebar>
            {% include "theme::partials/sidebar" %}    
    </div>
    <div class="o-navigation__menu" data-simplebar>
            {% include "theme::partials/menu" %}
    </div>
        

</div>