<div class="o-navigation">

        <button class="o-navigation__openMenu">Open sidebar</button>
    <div class="o-navigation__sidebar">
            {% include "theme::partials/sidebar" %}    
    </div>
    <div class="o-navigation__menu">
            {% include "theme::partials/menu" %}
    </div>
        

</div>