<div class="o-section o-topbar">

    <div class="row">
        <div class="col-sm">
                {% include "theme::partials/topbar/search" %}
            

        </div>
        <div class="col-sm">
                <div class="o-topbar__menus">
                        {% include "theme::partials/topbar/shortcuts" %}
                        {% include "theme::partials/topbar/support" %}    
                        {% include "theme::partials/topbar/profile" %}
                </div>

        </div>
       
    </div>
    {#% include "theme::partials/navigation" %#}
    {# This is some stuff.... #}
    {# {% if auth_check() %}
    <a href="{{ url_route('anomaly.module.users::logout') }}">Logout</a>
    {% else %}
    <a href="{{ url_route('anomaly.module.users::login') }}">Login</a>
    {% endif %} #}
</div>