$pipaluk-button-sizes: (xs: (min-width:60px,scaling-before:".96, 1.09, 1",scaling-after:".86, .8, 1"),
sm: (min-width:60px,scaling-before:".96, 1.09, 1",scaling-after:".80, .8, 1"),
md: (min-width:60px,scaling-before:".96, 1.09, 1",scaling-after:".88, .8, 1"),
lg: (min-width:60px,scaling-before:".96, 1.09, 1",scaling-after:".86, .8, 1"),
xl: (min-width:60px,scaling-before:".96, 1.09, 1",scaling-after:".86, .8, 1"));

@mixin button-pipaluk() {
    position: relative;
    z-index: 1;
    border: none;
    border-radius: 200px;
    background: none;


    &::before,
    &::after {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';
        transition: transform .3s, background-color .3s;
        transition-timing-function: cubic-bezier(.25, 0, .3, 1);

        border-radius: inherit;
    }

    &:hover::before {
        transform: scale3d(.96, 1.09, 1);
    }

    &::before,
    &:hover::after {
        transform: scale3d(.86, .8, 1);
    }

   



    //  ----------------------------------------------------------------------
    //  COLORS
    //  ----------------------------------------------------------------------
    @each $colorName,
    $bkgColorValue in $theme-colors {
        &.-#{$colorName} {

            @include pyro-button-text-colors($bkgColorValue);

            &:hover {
                color: #fff;
                background: #fff;
            }
            &:hover::after {
                background-color: $bkgColorValue;
            }
            &::before {
                border: 1px solid $bkgColorValue;
            }
            &::after {
                background-color: $bkgColorValue;
            }
        }
    }


    //  ----------------------------------------------------------------------
    //  SIZING
    //  ----------------------------------------------------------------------
    @each $size,
    $map in $pipaluk-button-sizes {
        // $padding-x: map-get($map, padding-x);
        $pipaluk-scaling-before: map-get($map, scaling-before);
        $pipaluk-scaling-after: map-get($map, scaling-after);
        $pipaluk-min-width: map-get($map, min-width);


        &.-#{$size} {
            min-width:$pipaluk-min-width;

            &:hover::before {
                transform: scale3d(#{$pipaluk-scaling-before});
            }
        
            &::before,
            &:hover::after {
                transform: scale3d(#{$pipaluk-scaling-after});
            }
        }
        //     font-size: map-get($map, font-size);
        //     min-width: map-get($map, min-width);
        //     padding: map-get($map, padding-y) map-get($map, padding-x);

        //     &:hover::after,
        //     &:hover::before {
        //         transform: scale3d(1, .9, 1);
        //     }

        //     &::before {
        //         top: map-get($map, goey-vertical);
        //         right: map-get($map, goey-horizontal);
        //         bottom: map-get($map, goey-vertical);
        //         left: map-get($map, goey-horizontal);
        //     }
        // }
    }
}