$headerHeight: 50px !default;
$minResForStaticSidebars: 1440px !default;
$navigationAsideWidth: 300px !default;
$navigationAsideWidthWhenStatic: 250px !default;

// Rename this..
$navigationSidebarPadding: 75px !default;
$oNavigationChildPadding: 1rem;
$oNavigationListHeight: 35px;
$oNavigationListIconHeight: $oNavigationChildPadding * 2;

// Sidebar and Menu sizes when they are set to keep open
$sidebarWidthOnKeepOpen: 240px;
$menuWidthOnKeepOpen: 225px;
$indigo: #5174ff;
$ocean: #3dab9a;
$dark: #404040;
$danger: #e78a45;
$warning: #c23835;
$dirt: #4e3735;
// $button-sizes: (
//   xs: (
//     padding-x:.05rem,
//     padding-y:0,
//     min-width:45px,
//     font-size:.8rem,
//     goey-horizontal:-5px,
//     goey-vertical:-3px,
//   ),
//   sm: (
//     padding-x:1.2rem,
//     padding-y:.5rem,
//     min-width:45px,
//     font-size:.85rem,
//     goey-horizontal:-5px,
//     goey-vertical:-3px,
//   ),
//   md: (
//     padding-y:1rem,
//     padding-x:2rem,
//     min-width:50px,
//     font-size:1rem,
//     goey-horizontal:-5px,
//     goey-vertical:-3px,
//   ),
//   lg: (
//     padding-y:.2rem,
//     padding-x:.3rem,
//     min-width:50px,
//     font-size:.8rem,
//     goey-horizontal:-5px,
//     goey-vertical:-3px,
//   ),
//   xl: (
//     padding-y:.2rem,
//     padding-x:.3rem,
//     min-width:50px,
//     font-size:.8rem,
//     goey-horizontal:-5px,
//     goey-vertical:-3px,
//   )
// );
$pyro-colors: (
'main': $indigo,
'light': #f3f3f3,
'black': $dark,
'primary': $indigo,
'secondary': $indigo,
'success': $ocean,
'info': $indigo,
'warning': $warning,
'danger': $danger,
'dark': $dirt
) !default;

$button-sizing: (
    xs: (
      size:.7rem
    ),
    sm: (
        size:.8rem
    ),
    md: (
        size:1rem
    ),
    lg: (
        size:1.1rem
    ),
    xl: (
        size:1.2rem
    )
  );
  
@function pc($key: 'main')
{
    @return map-get($pyro-colors, $key);
}
