

*
{
    //font-family: 'Istok Web', sans-serif;

    color: pc(main);
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Muli', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%regular
{
    font-weight: 400;
}
%semi-bold
{
    font-weight: 700;
}
%bold
{
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 1.15rem !important;
}

.fa 
{
    color:inherit;
}