$grid-columns: 24;
$grid-gutter-width: 30px;


$btn-border-radius:0;

//$success:pc();




// $theme-colors:   (
//     "primary":    $primary,
//     "secondary":  $secondary,
//     "success":    $success,
//     "info":       $info,
//     "warning":    $warning,
//     "danger":     $danger,
//     "light":      $light,
//     "dark":       $dark
//   );