

// Theme Override
@import "./_theme-overrides";
// Default Theme
@import "./_theme-default";

// Default Theme
//@import "./themes/_pixney";


h1.errorchecker
{
    padding:.5rem;
    background:red;
    color:#fff;
    font-size:.9rem !important;
}

p 
{
    margin:0;
    &+p 
    {
        margin-top:.5rem;
    }
}

.fa, .fab, .fal, .far, .fas
{
    color: inherit
}

:root 
{
    --blue: green;
}