<div class="m-menu">
    <div class="btn-group dropleft m-menu__group">
        <button type="button" class="m-menu__toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-user-astronaut"></i>
        </button>
        <div class="dropdown-menu">
            
            <ul class="m-list -reset">
                    <li class="dropdown-header">User</li>
                <li class="dropdown-item">
                    <a href="/" target="_blank">
                        <i class="fa fa-external-link"></i>
                        {{ trans('theme::control_panel.view_site') }}
                    </a>
                </li>
                <li class="dropdown-item">
                    <a href="/admin/logout">
                        <i class="fa fa-power-off"></i>
                        {{ trans('theme::control_panel.logout') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>