%buttonWithIcon
{
    display: flex;

    justify-content: center;
    align-items: center;

    i
    {
        margin-right: .5rem;
    }

    &.btn-sm i
    {
        font-size: .85rem;

        margin-right: .3rem;
    }
}

button,.button
{
    display: inline-block;

    padding: .25rem .5rem;
    background:transparent;
    border:0;

    &:hover 
    {
        text-decoration: none;
    }



    @each $color,
    $value in $pyro-colors
    {
        &.-#{$color}
        {
            @include pyro-buttons($value);
        }
    }
    @each $size,$value in $button-sizes
    {
        &.-#{$size}
        {
            @include pyro-buttons-sizes($size,$value);
        }
    }
}
