%buttonWithIcon
{
    display: flex;

    justify-content: center;
    align-items: center;

    i
    {
        margin-right: .5rem;
    }

    &.btn-sm i
    {
        font-size: .85rem;

        margin-right: .3rem;
    }
}


button,
.button
{
    //  ----------------------------------------------------------------------
    //  GLOBAL STYLING
    //  ----------------------------------------------------------------------
    display: inline-block;
    padding: .25rem .5rem;
    border: 0;
    background: pc();
    color:#fff;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    

    &:hover
    {
        text-decoration: none;
        cursor: pointer;
    }

    //sizing
    @include button-sizing();
    // regular simple button styling
    @include button-regular();

    //  ----------------------------------------------------------------------
    //  SPECIAL BUTTON TYPE STYLING
    //  Types available: "goey","pipaluk"  
    //  ----------------------------------------------------------------------
    // When we want them everywhere, uncomment below
    @include button-pipaluk();
    // We can specify where we want them like this.
    .o-section.-buttons &,&[value="delete"]
    {
        @include button-pipaluk();
    }
    
    
    
        
    

    // //  ----------------------------------------------------------------------
    // //  COLORS
    // //  ----------------------------------------------------------------------
    // @each $color,
    // $value in $pyro-colors
    // {
    //     content: 'COLOR';
    //     &.-#{$color}
    //     {
    //         @include pyro-button-text.colors($value);
    //     }
    // }


    // //  ----------------------------------------------------------------------
    // //  SIZING
    // //  ----------------------------------------------------------------------
    // @each $size,
    // $map in $button-sizes
    // {
    //     $padding-x: map-get($map, padding-x);
    //     $padding-y: map-get($map, padding-x);

    //     &.-#{$size}
    //     {
    //         @include pyro-buttons-sizes(map-get($map, padding-x),map-get($map, padding-y),$size);
    //     }
    // }

    
}
