
@import "./button-types/pipaluk";
//@import './button-types/goey';
@import './button-types/regular';

//  ----------------------------------------------------------------------------
//  Define the text color on a button depen ding of the background color
//  lightness.
//  ----------------------------------------------------------------------------
@mixin pyro-button-text-colors($color)
{
    @if (lightness($color) > 60)
    {
        color: #000;
    }
    @else
    {
        color: #fff;
    }
}

@mixin text-color($color)
{
    @if (lightness($color) > 60)
    {
        color: #000;
    }
    @else
    {
        color: #000;
        color: #fff;
    }
}


@mixin button-sizing {
    
    //  ----------------------------------------------------------------------
    //  SIZING
    //  ----------------------------------------------------------------------
    @each $size,$map in $button-sizing
    {
        $rbs: map-get($map, size);
        &.-#{$size}
        {
            font-size: $rbs;

            padding: calc(#{$rbs} / 2.5) calc(#{$rbs});
        }
    }
}
