@mixin field(
    $margin: 1rem 0 0,
    $padding: 0,
    $first-child-padding:0,
    $first-child-margin:0,
    $last-child-padding:0,
    $last-child-margin:1rem 0 0,
)
{
    margin:$margin;
    padding:$padding;

    
    &:last-child
    {
        padding: $last-child-padding;
        margin: $last-child-margin;
    }
    &:first-child
    {
        padding: $first-child-padding;
        margin: $first-child-margin;
    }

    //  ------------------------------------------------------------------------
    //  resources/views/form/partials/wrapper.twig
    //  ------------------------------------------------------------------------
    &__label
    {
        @extend %bold;

        font-size: .92rem;

        margin: 0;
        margin-bottom: .2rem;

        color: pc('label');
    }
    &__instructions
    {
        font-size: .92rem;

        color: pc('instruction');
    }
    &__warning
    {
        font-size: .85rem;
        //@extend %semi-bold;

        margin: .2rem 0 .8rem;

        color: pc('warning');
        &,
        & i
        {
            font-style: italic;
        }

        & i
        {
            color: pc('warningIcon');
            color: inherit;
        }
    }

    &__type
    {
        margin-top: .5rem;
    }
}
