@mixin field(
    $form-field-padding:$form-field-padding,
    $form-field-margin: $form-field-margin,
    $form-field-first-child-padding:$form-field-first-child-padding,
    $form-field-first-child-margin:$form-field-first-child-margin,
    $form-field-last-child-padding:$form-field-last-child-padding,
    $form-field-last-child-margin:$form-field-last-child-margin,
    
    $form-field-label-color:$form-field-label-color,
    $form-field-label-font-size:$form-field-label-font-size,
    $form-field-label-font-style:$form-field-label-font-style,
    
    $form-field-instructions-color:$form-field-instructions-color,
    $form-field-instructions-font-size:$form-field-instructions-font-size,
    $form-field-instructions-font-style:$form-field-instructions-font-style,
    
    $form-field-warning-color:$form-field-warning-color,
    $form-field-warning-font-size:$form-field-warning-font-size,
    $form-field-warning-font-style:$form-field-warning-font-style
)
{
    margin:$form-field-margin;
    padding:$form-field-padding;

    
    &:last-child
    {
        padding: $form-field-last-child-padding;
        margin: $form-field-last-child-margin;
    }
    &:first-child
    {
        padding: $form-field-first-child-padding;
        margin: $form-field-first-child-margin;
    }

    //  ------------------------------------------------------------------------
    //  resources/views/form/partials/wrapper.twig
    //  ------------------------------------------------------------------------
    &__label
    {
        @extend %bold;

        font-size: $form-field-label-font-size;

        margin: 0;
        margin-bottom: .2rem;

        color: $form-field-label-color;
        font-style: $form-field-label-font-style;
    }
    &__instructions
    {
        font-size: $form-field-instructions-font-size;

        color: $form-field-instructions-color;
        font-style: $form-field-instructions-font-style;
    }
    &__warning
    {
        font-size: $form-field-warning-font-size;
        //@extend %semi-bold;

        margin: .2rem 0 .8rem;

        color: $form-field-warning-color;
        &,
        & i
        {
            font-style: $form-field-warning-font-style;
        }

        & i
        {
            color: $warningIcon;
            color: inherit;
        }
    }

    &__type
    {
        margin-top: .5rem;
    }
}
