@mixin form()
{
    padding: 0;
}
@mixin form-control()
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    display: block;

    width: 100%;
    height: 38px;
    padding: 6px .5rem;

    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    border: 1px solid lighten($black, 80%);
    border-radius: 0;

    &:focus
    {
        color: #495057;
        border-color: $black;
        outline: 0;
        background-color: $white;
        box-shadow: unset;
    }
}


@mixin formsection(
    $form-section-background-color: $form-section-background-color,
    $form-section-padding: $form-section-padding,
    $form-section-border-radius:0,
    $form-section-box-shadow:none,    
    $form-section-title-padding:.5rem 2rem,
    $form-section-title-margin:0 0 1rem,
    $form-section-title-background:#fff,
    $form-section-title-color:#000,
    $form-section-remove-tabs-padding:$form-section-remove-tabs-padding,
    $form-section-remove-title-padding:$form-section-remove-title-padding,
    $form-section-section-on-section-margin: $form-section-section-on-section-margin,
)
{
    padding: $form-section-padding;

    border-radius: $form-section-border-radius;
    background: $form-section-background-color;
    box-shadow: $form-section-box-shadow;

    & + .o-form__section
    {
        margin: $form-section-section-on-section-margin;
    }

    @if $form-section-remove-tabs-padding == true
    {
        &.-tabs
        {
            padding-right: 0rem;
            padding-left: 0rem;
            & > *:not(.m-nav)
            {
                padding: $form-section-padding;
            }
        }
    }

    @if $form-section-remove-title-padding == true
    {
        &.-title
        {
            padding-right: 0rem;
            padding-left: 0rem;
            & > *:not(.m-nav)
            {
                padding: $form-section-padding;
            }
        }
    }





    &.-title
    {
        h5
        {
            margin: $form-section-title-margin;
            padding: $form-section-title-padding;

            color: $form-section-title-color;
            background: $form-section-title-background;
        }
    }




    //  --------------------------------------------------------------------
    //  Don't show the box shadow if the form is stacked
    //  --------------------------------------------------------------------
    &.d-flex
    {
        box-shadow: unset;
    }
}
