@mixin section(
    $section-background-color:transparent,
    $section-padding:0,
    $section-margin:0,
    $section-height:auto,
    $section-border-radius:0,
    $section-box-shadow:none
    ) {
    margin: $section-margin;
    padding: $section-padding;
    height:$section-height;
    background:$section-background-color;
    border-radius:$section-border-radius;
    box-shadow:$section-box-shadow;
}