@mixin section(
    $section-background-color:transparent,
    $section-padding:0,
    $section-margin:0,
    $section-height:auto,
    $section-border-radius:0,
    $section-box-shadow:none,
    $section-border-top:$section-border-top,
    $section-border-bottom:$section-border-bottom
    ) {
    margin: $section-margin;
    padding: $section-padding;
    height:$section-height;
    background:$section-background-color;
    border-radius:$section-border-radius;
    box-shadow:$section-box-shadow;
    border-top: $section-border-top;
    border-bottom: $section-border-bottom;
    
}