@mixin tabs-and-list-shared-styling(
    $tab-background: $tab-background,
    $tab-link-padding: $tab-link-padding,
    $tab-padding:$tab-padding,
    $tab-border-radius:$tab-border-radius,
    $tab-border-bottom:$tab-border-bottom,
    $tab-link-background-color: $tab-link-background-color,
    $tab-link-active-background:$tab-link-active-background
)
{
    padding:$tab-padding;
    background: $tab-background;
    border-radius:$tab-border-radius;
    border-bottom: $tab-border-bottom;

    li a 
    {
        @extend %bold;
        color: $horizontalNavTabsColor;
        transition: all 200ms ease-in-out;
        padding: $tab-link-padding;
        display: block;
        background:$tab-link-background-color;
    }

    // Hover and Active
    li.-active a,
    li a:hover,
    li a.nav-link:hover,
    li a.nav-link.active
    {
        color: $menu;
        background:$tab-link-active-background;
    }

    
}

@mixin make-tabs-of-list(
    $margin: 0 0 -1px,
    $border-color:$tab-border-color
)
{
    

    display: flex;
    li 
    {
        margin:$margin;
    }
    li.-active a
    {
        border-left:1px solid $border-color;
        border-top:1px solid $border-color;
        border-right:1px solid $border-color;
    }

    // Clear some styling introduced for normal lists.
//     li
// {
//         //margin:0 0 -1px;
//     }



    // li
    // {
    //     margin-top: 0;
    //     margin-left: .5rem;

    //     &.-active
    //     {
    //         position: relative;
          
            
    //     }

    //     &:first-child
    //     {
    //         margin-left: 0;
    //     }

        
       
    // }
}
