&form
{
    padding: 0;
    &__section
    {
        background: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        & + .o-form__section
        {
            //margin-top:1rem;
            border-top: 5px solid pc('main');
        }



        //  --------------------------------------------------------------------
        //  Don't show the box shadow if the form is stacked
        //  --------------------------------------------------------------------
        &.d-flex
        {
            box-shadow: unset;
        }
    }

    .form-control 
    {
        @include form-control();
    }
}
