&login {
    display: flex;

    justify-content: center;
    align-items: center;
    height: 100vh;

    form {
        width: 100%;
        max-width: 320px;

        padding: 1.5rem;
        transition: box-shadow 400ms ease-in;
        transition-delay: 800ms;

        // border-radius:15px;
       
        body.-loaded & {
            box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, .3)
        }

        .form-control 
        {
            border-color:#f3f3f3;

            &:focus 
            {
                border-color:#ddd;
            }
        }
    }


    // Default state
    .form-group {
        transition: all 400ms ease-in-out;
        transform: translateY(100px);

        opacity: 0;
    }


    // When document has been -loaded
    body.-loaded & {
        .form-group {
            transform: translateY(0px);

            opacity: 1;
        }

        @for $i from 1 to 10 {
            .form-group:nth-child(#{$i}) {
                transition-delay: $i * .10s;
            }
        }
    }
}