&main
{
    width: 100%;
    height: auto;
    min-height: 100vh;

    transition: transform 150ms ease-in-out;
    transform: translate(0,0);

    background: #fefefe;

    body.-openSidebar &
    {
        //transform: translate(220px,0);
    }
    @media (min-width: $minResForStaticSidebars)
    {
        body.-openSidebar &
        {
            transform: translate(0px,0);
        }
    }
}
