

&navigation
{
    position: relative;

    display: flex;

    height: auto;
    padding-top: $headerHeight;

    background: $white;

    @media (min-width: $minResForStaticSidebars)
    {
        padding-top: 0;
    }

    &__openSidebar
    {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        width: 100%;
        height: $headerHeight;

        border: 0;
        background: #fff;
        &,
        &:focus
        {
            outline: none;
        }
        @media (min-width: $minResForStaticSidebars)
        {
            display: none;
        }
    }
    &__sidebar,
    &__menu
    {
        z-index: 1;

        width: $navigationAsideWidth;
        min-width: $navigationAsideWidth;

        @media (min-width: $minResForStaticSidebars)
        {
        }
    }

    /*
        ------------------------------------------------------------------------
        This is the left of the two aside menus.
        ------------------------------------------------------------------------
    */
    &__sidebar
    {
        position: absolute;
        z-index: 2;

        height: calc(100% - #{$headerHeight});
        padding: 0 .5rem;

        transition: transform 100ms ease-in-out;
        transform: translate(calc(#{$navigationSidebarPadding} - #{$navigationAsideWidth}),0);

        background: darken($white, 9%);

        @media (min-width: $minResForStaticSidebars)
        {
            position: relative;

            transform: translate(0%,0);
        }

        body.-openSidebar &
        {
            transform: translate(0%,0);

            @media (min-width: $minResForStaticSidebars)
            {
                transform: translate(0,0);
            }
        }
    }

    /*
        ------------------------------------------------------------------------
        This is the right of the two aside menus.
        ------------------------------------------------------------------------
    */
    &__menu
    {
        position: relative;
        z-index: 1;

        padding-left: calc(#{$navigationSidebarPadding} + 15px);


        @media (min-width: $minResForStaticSidebars)
        {
            position: relative;
        }
        body.-openSidebar &
        {
            padding-left: 0px;
        }
    }
}
