

&navigation
{
    position: relative;

    display: flex;

    height: 100vh;
    padding-top: $headerHeight;

    background: $white;



    @media (min-width: $minResForStaticSidebars)
    {
        padding-top: 0;
    }

    &__openMenu
    {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        width: 100%;
        height: $headerHeight;

        border: 0;
        background: #fff;
        &,&:focus 
        {
            outline:none;
        }
        @media (min-width: $minResForStaticSidebars)
        {
            display: none;
        }
    }
    &__sidebar,
    &__menu
    {
        z-index: 1;

        width: 220px;
        min-width: 220px;

        @media (min-width: $minResForStaticSidebars)
        {
        }
    }

    /*
        ------------------------------------------------------------------------
        This is the left of the two aside menus.
        ------------------------------------------------------------------------
    */
    &__sidebar
    {
        position: relative;
        z-index: 2;

        padding: 0 .5rem;

        background: darken($white, 1%);
    }

    /*
        ------------------------------------------------------------------------
        This is the right of the two aside menus.
        ------------------------------------------------------------------------
    */
    &__menu
    {
        position: absolute;
        z-index: 1;

        height: calc(100% + #{$headerHeight});
        padding-left: .5rem;

        transition: transform 150ms ease-in-out;
        transform: translate(0,-#{$headerHeight});

        background: darken($white, 5%);
        
        @media (min-width: $minResForStaticSidebars)
        {
            position: relative;
        }

        body.-openMenu &
        {
            transform: translate(100%,-#{$headerHeight});

            @media (min-width: $minResForStaticSidebars)
            {
                transform: translate(0,0);
            }
        }
    }
}
