
&navigation
{
    position: fixed;
    z-index: 2;
    top: 0;

    height: auto;
    min-height: 100vh;
    //padding-top: $headerHeight;

    background: $white;
    box-shadow: -5px 0 25px 0 rgba(0, 0, 0, .3);
    //align-self: flex-start; // sticky fix


    @media (min-width: $minResForStaticSidebars)
    {
        padding-top: 0;
    }

    &__wrapper
    {
        // position: sticky;
        // top: 0;
        display: flex;
        // height: 100vh;

        height: calc(100vh - #{$headerHeight});;
    }

    &__top
    {
        background:pc('navigationTop');
        z-index: 3;
        top: 0;
        left: 0;

        display: flex;

        width: 100%;
        height: $headerHeight;

    }
    &__toggle
    {
        background:pc('navigationTop');
        color:#fff;
    }



    /*
        ------------------------------------------------------------------------
        Global settings for sidebar and menu
        ------------------------------------------------------------------------
    */
    &__sidebar,
    &__menu
    {
        // Reset z index
        z-index: 1;
        // Width

        width: $navigationAsideWidth;
        // Default padding
        padding: $oNavigationChildPadding;
    }


    /*
        ------------------------------------------------------------------------
        Sidebar
        ------------------------------------------------------------------------
    */
    &__sidebar
    {
        transition: all 150ms ease-in-out;

        background: pc('sidebar');



        /*
            --------------------------------------------------------------------
            Keep sideebar open
            --------------------------------------------------------------------
        */
        body.-keepSidebarOpen &
        {
            width: $sidebarWidthOnKeepOpen;
        }
        /*
            --------------------------------------------------------------------
            Keep sidebar closed
            --------------------------------------------------------------------
        */
        body.-keepSidebarClosed &
        {
            position: absolute;
            z-index: 2;

            width: $navigationSidebarPadding;
            overflow:hidden;
            height: 100%;
        }
        /*
            --------------------------------------------------------------------
            Keep sidebarclosed but is toggled open.
            --------------------------------------------------------------------
        */
        body.-keepSidebarClosed.-sidebarIsOpen &
        {
            width: calc(#{$navigationAsideWidthWhenStatic} + 50px);

            transition: all 150ms ease-in-out;
        }
    }




    /*
        ----------------------------------------------------------------------------
        Menu
        ----------------------------------------------------------------------------
    */
    &__menu
    {
        background: pc('menu');

        /*
            --------------------------------------------------------------------
            Styling when sidebar is set to be closed.
            --------------------------------------------------------------------
        */
        body.-keepSidebarClosed &
        {
            padding-left: calc(#{$navigationSidebarPadding} + 1rem);
        }

        /*
            --------------------------------------------------------------------
            Styling when sidebar is set to be open.
            --------------------------------------------------------------------
        */
        body.-keepSidebarOpen &
        {
            width: $menuWidthOnKeepOpen;
        }
    }
}
