&section {
    margin:1rem;
    //margin-bottom: 2rem;

    //  ----------------------------------------------------------------------
    //  resources/views/partials/buttons.twig
    //  ----------------------------------------------------------------------
    &.-buttons {
        display: flex;
        justify-content: flex-end;
        background: #f9f9f9;
    padding: 1rem;
        margin:0;
    }

    //  ------------------------------------------------------------------------
    //  resources/views/partials/topbar.twig
    //  ------------------------------------------------------------------------
    &.-topbar {
        line-height: $headerHeight;
        height: $headerHeight;
        padding: 0 15px;
        position: sticky;
        top: 0;
        z-index: 9;
        background: #fff;
    }

    //  ------------------------------------------------------------------------
    //  resources/views/layouts/default.twig
    //  ------------------------------------------------------------------------
    &.-breadcrumbs 
    {
        display: flex;
        justify-content: space-between;
        background: #f3f3f3;
    padding: 1rem;
        margin:0;
    }
}