
&section
{
    margin: 0rem 0;
    padding:0 2rem;
    
    //  ----------------------------------------------------------------------
    //  resources/views/partials/buttons.twig
    //  ----------------------------------------------------------------------
    &.-buttons
    {
        display: flex;

        margin: 0;
        padding: 1rem 2rem;

        background: pc();

        justify-content: flex-end;

        

        //  --------------------------------------------------------------------
        //  When the buttons are placed within breadcrumbs
        //  --------------------------------------------------------------------
        .o-section.-breadcrumbs &
        {
            padding: 0;
            
        }
    }

    //  ------------------------------------------------------------------------
    //  resources/views/partials/topbar.twig
    //  ------------------------------------------------------------------------
    &.o-topbar
    {
        line-height: $topbar-height;

        position: sticky;
        z-index: 9;
        top: 0;

        height: $topbar-height;
        margin: 0;
        padding: 0 2rem;



        background: pc('topbar');
    }

    //  ------------------------------------------------------------------------
    //  resources/views/layouts/default.twig
    //  ------------------------------------------------------------------------
    &.-breadcrumbs
    {
        display: flex;

        margin: 0;
        padding: 0 2rem;

        background: #fbfbfb;
        border-top:1px solid darken(#fbfbfb,5%);

        align-items: center;
        justify-content: space-between;

        height: $breadcrumb-height;
        overflow:hidden;
       

        // Breadcrumbs and filter section should be connected.
        &+.o-section.-filters,
        &+.o-section.-table 
        {
           
        }
        
        
    }

    //  ------------------------------------------------------------------------
    //  resources/views/table/partials/filters.twig
    //  ------------------------------------------------------------------------
    &.-filters
    {
        margin: 0;
        padding: 1rem 2rem;

        border-top: 1px solid darken(#fbfbfb,5%);
        border-bottom: 1px solid darken(#fbfbfb,5%);
        background: #fbfbfb;
        
        form
        {
            display: flex;

            & > div
            {
                max-width: 200px;

                flex: 1;
                select,
                input
                {
                    width: 100%;
                    min-width: 100%;

                    border: 1px solid darken(pc(),11%);
                    background: #fff;

                    &[name='filter_search']
                    {
                        min-width: 200px;
                    }
                }
            }
            & > div.btn-group
            {
                //TODO: DIRTY ! FIX IT!
                display: flex;

                height: 38px;
                margin-left: auto !important;
                .button
                {
                    height: 100%;

                    flex: 1;
                }
            }
        }
    }

    //  ------------------------------------------------------------------------
    //  resources/views/table/partials/views.twig
    //  ------------------------------------------------------------------------
    &.-views 
    {
        background: pc('background');
     
        padding:0;
        margin:0;
        border-bottom: 1px solid darken(pc(),10%);
        &+.o-section 
        {
            margin-top:0rem;
            border-top:0;
            .table th 
            {
                border-top:0;
            }
        }

    }

    //  ------------------------------------------------------------------------
    //  resources/views/form/form.twig
    //  ------------------------------------------------------------------------
    &.-form 
    {
        margin:0;
        padding: 0;
        background: transparent;
        .tab-content 
        {
            width:100%;
        }
    }

    //  ------------------------------------------------------------------------
    //  No results 
    //  resources/views/table/table.twig
    //  ------------------------------------------------------------------------
    &.-empty
    {
        background:#fff;
        min-height:300px;
        margin-top:0;
        &>div 
        {
            color:pc('link');
            padding:2rem 0
        }
    }

    &.-table 
    {
        padding:0;
        background: #FFF;
    }
}
