
&breadcrumb
{
    line-height: $breadcrumbs-height;

    display: flex;

    margin-bottom: 0;
    padding: 0;

    list-style: none;

    border-radius: 0;
    background-color: transparent;

    flex-wrap: wrap;


    .o-section.-breadcrumbs &
    {
        li
        {
            &,
            a
            {
                font-size: .92rem;
            }

        }


        .breadcrumb-item + .breadcrumb-item::before
        {
            display: inline-block;

            padding-right: .5rem;

            content: '→';

        }
    }


    
}
