
&breadcrumb
{
    @include breadcrumbs(
        $breadcrumbs-padding: 0,
        $breadcrumbs-margin:0,
        $breadcrumbs-font-size:.92rem,
        $breadcrumbs-background-color:transparent,
        $breadcrumbs-height:$breadcrumbs-height,
        $breadcrumbs-divider-padding:0 .5rem 0 0,
        $breadcrumbs-divider-content:'→',
        $breadcrumbs-divider-color:$breadcrumbs-divider-color,
        $breadcrumbs-color:$breadcrumbs-color,
        $breadcrumbs-link-color:$breadcrumbs-link-color,
        $breadcrumbs-link-hover-color:$breadcrumbs-link-hover-color,
        $breadcrumbs-link-active-color:$breadcrumbs-link-active-color,
        $breadcrumbs-font-weight:$breadcrumbs-font-weight
    );

}
