//  ----------------------------------------------------------------------------
//  m-field
//  resources/views/form/partials/fields.twig
//  ----------------------------------------------------------------------------
&field
{
    margin: 0rem 1rem;
    padding: 0rem 0rem 1.5rem;
    &:first-child
    {
        padding-top: 1.5rem;
    }

    //  ------------------------------------------------------------------------
    //  resources/views/form/partials/wrapper.twig
    //  ------------------------------------------------------------------------
    &__label
    {
        @extend %bold;

        font-size: 1.2rem;
        font-weight: 300;

        margin: 0;
        margin-bottom: .2rem;

        color: pc('label');
    }
    &__instructions
    {
        font-size: .9rem;

        color: darken(pc(),30%);
    }
    &__warning
    {
        font-size: .8rem;
        font-weight: 700;

        margin: .2rem 0 .8rem;
        &,
        & i
        {
            color: pc('lightAccent');
        }
    }

    &__type
    {
        margin-top: .5rem;
    }
}
