.form-control:focus
{
    color: #495057;
    border-color: $black;
    outline: 0;
    background-color: $white;
    box-shadow: unset;
}

.form-control
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    display: block;

    width: 100%;
   
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid lighten($black, 80%);
    border-radius: 0;
}
.control-label
{
    @extend %bold;

    font-size: 1rem !important;
    line-height: 1;

    margin-bottom: 0;
    & + p
    {
        margin-bottom: .5rem;
    }
}

.form-group 
{
    margin-bottom: 2rem;
}

