&formControls
{
    // position:sticky;
    // z-index:10;
    // top:$headerHeight;
    //top:0;
    display:flex;
    background:#fefefe;
    border-bottom:1px solid #eee;
margin-top:1rem;
    width: 100%;

    justify-content: flex-end;
    align-items: center;

    &__actions
    {
        display:flex;
    }

    button 
    {
        @extend %buttonWithIcon;
    }

    &.-bottom 
    {
        position:sticky;
        
        display:flex;
        //position: fixed;
        bottom: 0px;
        z-index: 1;
        right: 0px;
        padding:1rem;
        width: 100%;
        background:#fff;
        border-top:1px solid #eee;
        // &.-show 
        // {
        //     display:flex;
        // }
    }

}