&list
{
    li
    {
        // Set margins top on elements but not on the first one.
        margin-top: .5rem;

        &:first-child
        {
            margin-top: 0;
        }


        a:hover
        {
            text-decoration: none;
        }
    }

    &.-lstn
    {
        margin: 0;
        padding: 0;

        list-style-type: none;
    }


    /*
        ------------------------------------------------------------------------
        Global Styling for list within the sidebar and the menu.
        ------------------------------------------------------------------------
    */
    body .o-navigation__sidebar &,
    body .o-navigation__menu &
    {
        li a
        {
            display: flex;

            transition: all 200ms ease-in-out;
        }
        .title
        {
            margin-left: .5rem;
        }
        .icon
        {
            display: flex;

            width: 25px;
            min-width: 25px; // Flex stuff.
            width:calc(#{$navigationSidebarPadding} - 2rem);
            min-width: calc(#{$navigationSidebarPadding} - 2rem); // Flex stuff.
            // width: 100%;
            // min-width: 100%; // Flex stuff.
            // Icon should be...

            // icon width = $navigationSidebarPadding -$oNavigationChildPadding
            //$oNavigationChildPadding - padding
            //$navigationSidebarPadding - width
            
            

            justify-content: center;
            align-items: center;
        }
    }

    /*
        ------------------------------------------------------------------------
        Styling for sidebar when its set to be closed.
        ------------------------------------------------------------------------
    */
    body.-keepSidebarClosed .o-navigation__sidebar &
    {
        .title
        {
            font-weight: 600;
            line-height: 33px;

            position: absolute;
            left: 50px;

            visibility: hidden;

            transition: all 300ms ease-in-out;

            opacity: 0;
        }



        .icon
        {
            font-size: 25px;

            //width: $navigationSidebarPadding;
            //min-width: $navigationSidebarPadding; // Flex stuff.
            height: 33px;

            transition: transform 200ms ease-in-out;
            transform: scale(.8);
        }

        .icon:hover
        {
            transform: scale(1.2);
        }
    }

    /*
        ------------------------------------------------------------------------
        Styling for sidebar when set to be closed, but has been toggled open.
        ------------------------------------------------------------------------
    */
    body.-keepSidebarClosed.-sidebarIsOpen .o-navigation__sidebar &
    {
        .title
        {
            left: 57px;

            display: inline-block;
            visibility: visible;

            opacity: 1;
        }
        li a
        {
            justify-content: flex-start;
        }
    }
}
