&list {
    @include mlist();

    //    ----------------------------------------------------------------------
    //    Styling for list within the sidebar and the menu.
    //    ----------------------------------------------------------------------
    body .o-navigation__sidebar &,
    body .o-navigation__menu & {
        

        @include mlist($sidebar-link-color, $sidebar-link-color-hover);


        li,
        li a {
            // Set the height of the li element
            height: $sidebar-item-height;
            line-height: $sidebar-item-height;
        }

        li a {
            display: flex;
            align-items:center;
        }

        // The icon should be 1:1 to make sure we could add background effects
        // to it later if we want.
        li a .icon {
            display: block;
            width: $sidebar-icon-width-height;
            min-width: $sidebar-icon-width-height;
            //height: $sidebar-icon-width-height;
            display: flex;
            justify-content: center;
            align-items: center;
            
            position: relative;
         
            i 
            {
                font-size: 1rem;
                transform: scale(.9);
                transition: all 200ms ease-in-out;
            }

            // Circle under
            &::after {
                content: "";
                width: $sidebar-icon-width-height;
                height: $sidebar-icon-width-height;
                display: block;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.05);
                position: absolute;
                transform: scale(.5);
                transition: all 200ms ease-in-out;
                transition-delay: 70ms;
            }
        }

        // The title behavior
        li a .title 
        {
            //opacity:0;
            transition: all 200ms ease-in-out;
            height: $sidebar-item-height;
            position: relative;
            color: inherit;
        }

        //  ------------------------------------------------------------------------
        //  Hover li states
        //  ------------------------------------------------------------------------
        li.-active a,
        li:hover a {
            

            .icon i
            {
                transform: scale(1.1);
            }

            .icon::after {
                background: rgba(255, 255, 255, .15);
                transform: scale(1);
            }
            .title 
            {
             //  opacity:1;
            }
        }

        


    }

    body .o-navigation__sidebar & {
        @include mlist($sidebar-link-color, $sidebar-link-color-hover);

    }

    body .o-navigation__menu & {
        @include mlist($menu-link-color, $menu-link-color-hover);
    }



    //    ----------------------------------------------------------------------
    //    Styling for sidebar when its set to be closed.
    //    ----------------------------------------------------------------------
    body.-keepSidebarClosed .o-navigation__sidebar & {

        .title
        {
            opacity:0;
            visibility: hidden;
        }
        // .title
        // {
        //     left: -10px;

        //     visibility: hidden;
        //     // transition: all 200ms ease-out;

        //     //opacity: 0;
        // }

        // .icon
        // {
        //     //transition: transform 150ms linear;
        //     //transform: scale(.75);
        //     &,
        //     .fa,
        //     .far,
        //     .fas
        //     {
        //         color: inherit;
        //     }
        // }

        // li
        // {
        //     & a:hover,
        //     &.-active a
        //     {
        //         .icon
        //         {
        //             transform: scale(1);
        //         }
        //     }
        // }
    }

    //  ------------------------------------------------------------------------
    //  Menu
    //  ------------------------------------------------------------------------

    //    ----------------------------------------------------------------------
    //    Styling for sidebar when set to be closed, but has been toggled open.
    //    ----------------------------------------------------------------------
    body.-keepSidebarClosed.-sidebarIsOpen .o-navigation__sidebar & {
        
        // When open, don't display the circle.
        li a .icon::after {
            background: rgba(255, 255, 255, 0);
            
        }
        .title {
            left: 0;

            display: inline-block;
            visibility: visible;

            opacity: 1;
        }
    }



    //  ------------------------------------------------------------------------
    //  Top Bar Search Result list
    //  resources/sass/molecules/_search.scss
    //  ------------------------------------------------------------------------
}