&list
{
    @include mlist();

    //    ----------------------------------------------------------------------
    //    Styling for list within the sidebar and the menu.
    //    ----------------------------------------------------------------------
    body .o-navigation__sidebar &,
    body .o-navigation__menu &
    {
        @include mlist(pc('sidebar-link-color'),pc('sidebar-link-color-hover'));

        li a
        {
            // line-height: calc(#{$navigationSidebarPadding} - #{$oNavigationListIconHeight});

            // display: flex;

            // height: calc(#{$navigationSidebarPadding} - #{$oNavigationListIconHeight});
        }

        .title
        {
           // line-height: calc(#{$navigationSidebarPadding} - #{$oNavigationListIconHeight});

            position: relative;

            margin-left: .5rem;

            color: inherit;
        }

        .icon
        {
            // font-size: 25px;

            // display: flex;

            
            // width: calc(#{$navigationSidebarPadding} - #{$oNavigationListIconHeight});
            // //height: calc(#{$navigationSidebarPadding} - #{$oNavigationListIconHeight});
            // min-width: 25px; // Flex stuff.
            // min-width: calc(#{$navigationSidebarPadding} - #{$oNavigationListIconHeight}); // Flex stuff.
            // height: $oNavigationListHeight;

            // color: inherit;

            // justify-content: center;
            // align-items: center;
        }
    }
    body .o-navigation__sidebar &
    {
        @include mlist(pc('sidebar-link-color'),pc('sidebar-link-color-hover'));
        li.-active a 
        {
            background:rgba(255,255,255,.2);
            border-radius:50%;
        }
    }
    body .o-navigation__menu &
    {
        @include mlist(pc('menu-link-color'),pc('menu-link-color-hover'));
    }



    //    ----------------------------------------------------------------------
    //    Styling for sidebar when its set to be closed.
    //    ----------------------------------------------------------------------
    body.-keepSidebarClosed .o-navigation__sidebar &
    {
        .title
        {
            left: -10px;

            visibility: hidden;
            // transition: all 200ms ease-out;

            opacity: 0;
        }

        .icon
        {
            transition: transform 150ms linear;
            transform: scale(.75);
            &,
            .fa,
            .far,
            .fas
            {
                color: inherit;
            }
        }

        li
        {
            & a:hover,
            &.-active a
            {
                .icon
                {
                    transform: scale(1);
                }
            }
        }
    }

    //  ------------------------------------------------------------------------
    //  Menu
    //  ------------------------------------------------------------------------

    //    ----------------------------------------------------------------------
    //    Styling for sidebar when set to be closed, but has been toggled open.
    //    ----------------------------------------------------------------------
    body.-keepSidebarClosed.-sidebarIsOpen .o-navigation__sidebar &
    {
        .title
        {
            left: 0;

            display: inline-block;
            visibility: visible;

            opacity: 1;
        }

        li a
        {
            justify-content: flex-start;
        }
    }



    //  ------------------------------------------------------------------------
    //  Top Bar Search Result list
    //  resources/sass/molecules/_search.scss
    //  ------------------------------------------------------------------------
}
