&search 
{
    height:$topbar-height;

    input 
    {
        @include form-control();
        line-height: 1.5;
        padding:13px 5px;
        border:0;
        height:100%;
        background: pc('topbar');
        
        // TODO: TESTING
        background:transparent;
        
    }

    &__results
    {
        display: none;
        background:#FFF;
        &.-open 
        {
            display:block;
        }
    }
   
    li 
    {
        line-height:1;
        opacity:1;
        transition: all 30ms ease-in-out;
    }
    li.-hide 
    {
        display:none;
        opacity:0;
    }
    li.selected 
    {
        background:green
    }

}