&search 
{
    height:$headerHeight;

    input 
    {
        @include form-control();
        line-height: 1.5;
        padding:13px 5px;
        border:0;
        height:100%;
        
    }

    &__results
    {
        display: none;
        background:#FFF;
    }

}