<div class="o-navigation">
    
    <div class="o-navigation__top">
       <button class="o-navigation__toggle -toggleSidebar">Open sidebar</button>
    </div>
    
    <div class="o-navigation__wrapper">
            {% include "theme::partials/navigation/sidebar" %}
            {% include "theme::partials/navigation/menu" %}
        

    </div>

</div>